h1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 35px;
    color: brown;

}
.parrafo-princpal{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    color: blue;
}
.imagenes{
    width: 250px;
    height: 250px;
    border-radius: 34%;
    
}